---
const containerClasses = 'bg-white/95 p-8 rounded-2xl flex flex-col items-center space-y-4 shadow-lg min-h-40 max-w-xs';
const spanTitleClasses = 'text-lg font-medium text-purple-600 uppercase tracking-wider';
const spanResultClass = "text-2xl font-semibold text-gray-800"
---

<h2 class="text-white text-center text-4xl mt-20 mb-10 font-extrabold">Metricas básicas</h2>
<div class="text-gray-600 grid grid-cols-1 md:grid-cols-3 gap-20 mb-20">
    <div id="name-container"
         class={containerClasses}>
        <span class={spanTitleClasses}>Nombre</span>
        <span id="name" class={spanResultClass}></span>
    </div>
    <div id="description-container"
         class={containerClasses}>
        <span class={spanTitleClasses}>Descripción</span> <span
            id="description" class={spanResultClass}></span>
    </div>
    <div id="stargazers_count-container"
         class={containerClasses}>
        <span class={spanTitleClasses}>Estrellas</span>
        <span class="flex items-center">⭐&nbsp; <span id="stargazers_count"
                                                      class={spanResultClass}></span></span>
    </div>
    <div id="forks-container"
         class={containerClasses}>
        <span class={spanTitleClasses}>Forks</span> <span
            id="forks" class={spanResultClass}></span>
    </div>
    <div id="created_at-container"
         class={containerClasses}>
        <span class={spanTitleClasses}>Creado en</span> <span
            id="created_at" class={spanResultClass}></span>
    </div>
    <div id="updated_at-container"
         class={containerClasses}>
        <span class={spanTitleClasses}>Última actualización</span>
        <span id="updated_at" class={spanResultClass}></span>
    </div>
</div>